

.content {
    position: relative;
    width: 600px;
    min-height: 800px;
    margin: 0 auto;

    padding-bottom: 280px;
    /*display: block;*/
    overflow: auto;
    border-radius: 100px;


    background: #89CBFF;
}
